body, html {
    transition: all 400ms ease;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    --color: black;
}
.hover {
    cursor: pointer;
}
h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}
#statsicon {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 3em;
}
#stats {
    position: absolute;
    background: white;
    width: 60%;
    height: 60vh;
    border-radius: 20px;
    border: 2px solid blue;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    z-index:1;
}
.fa-xmark {
    position: absolute;
    right: 5%;
    top: 3%;
    font-size: 2rem;
}
#stats_title {
    font-weight: bold;
    color: blue;
    transition: all 500ms ease;
}
.stats_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
}
.stats_container p {
    transition-delay: 0ms;
}
#resetbtn {
    padding: 0.5rem 1rem;
    background: blue;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    margin-top: 3em;
}
#mode {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 4.5rem;
    height: 2rem;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#moonsun {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}
.mode_ball {
    position: absolute;
    left: 7%;
    width: 1.5em;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid black;
    background: white;
    transition: all 500ms ease;
}
.moderight {
    left: 55%;
}
.container, .row, .letter {
    box-sizing: border-box;
}
.container {
    min-width: 300px;
    width: 25%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    border-radius: 10px;
}
.container :last-child {
    border-bottom: none;
}
.row {
    display: flex;
    height: 15%;
    width: 100%;
    margin: 0.2rem;
}
.letter {
    width: 20%;
    height: 100%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background: rgb(181, 177, 177);
    margin: 0.15rem;
    border-radius: 5px;
    transition: all 800ms ease;
}
.row :nth-child(5) {
    border: 3px solid black;
}
.popup {
    position: absolute;
    width: 30%;
    min-width: 300px;
    height: 10vh;
    font-size: 1.5rem;
    left: 50%;
    top: -5rem;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 20px;
    background: rgb(241, 68, 68);
    animation: popup 3s linear;
}
@keyframes popup {
    0% {
        top: -5rem;
    }
    10% {
        top: 1rem;
    }
    90% {
        top: 1rem;
    }
    100% {
        top: -5rem;
    }
}
#end {
    position: absolute;
    width: 50%;
    min-width: 300px;
    height: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 5px solid black;
    border-radius: 20px;
    z-index: 1;
    font-size: 2rem;
    text-align: center;
    padding: 0 1.5rem;
}
#end button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background: cyan;
    font-size: 1.5rem;
}
button:hover {
    cursor: pointer;
}
.shake {
    animation: shake 800ms linear;
}
@keyframes shake {
    0% {
        transform: translateX(-10%);
    }
    20% {
        transform: translateX(10%);
    }
    40%{
        transform: translateX(-10%);
    }
    60% {
        transform: translateX(10%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

#keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.keyboard_row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.key {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(181, 177, 177);
    border: 1px solid black;
    margin: 0.2rem 0.3rem;
    border-radius: 10px;
    font-weight: bold;
    padding: 1rem;
}
p {
    border: none;
    transition-delay: 200ms;
}

@media (orientation: portrait) {
    .key {
        padding:1rem 0.5rem;
        margin: 0.2rem;
        font-size: 0.9rem;
    }
    h1 {
        position: relative;
        left: 20%;
        width: max-content;
        font-size: 1.5rem;
    }
    #mode {
        top: 1rem;
    }
    #statsicon {
        width: 2em;
    }
}

